.ctd {
	margin:50px 100px 40px 100px;
	/*border:solid #000 2px;*/
	background-color:#FFF;
  width: auto;
  height: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: auto;
	padding-bottom: auto;

  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}
